.appoinment {
  background-color: $black;
  //color: $white;
  appoinment-block_left {

  }
  .appoinment-block_right {
    padding-right: 10%;
    padding-left: 5%;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  h2 {
    color: $white;
    //margin-bottom: 45px;
  }
  input,textarea {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #656463 !important;
    //color: #fff;
    font-size: 14px;
    padding: 12px;
    //outline: 0 !important;

  }
  input, textarea, button {
    margin-top: 20px;
  }
  textarea {
    height: 150px;
  }


}