@media all and (max-width: 1200px) {
  .appoinment {
    h2 {
      font-size: 18px;
    }
    textarea {
      height: 60px;
    }
  }
}
@media all and (max-width: 992px) {
  .banner_area {
    margin-top: 70px;
    h1 {
      font-size: 36px;
    }
    .banner_area_full {
      height: auto!important;
    }

  }

}

@media all and (max-width: 767px) {
  .appoinment-block_right {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
@media all and (max-width: 320px) {

}